# Apple macOS
.DS_Store

# Microsoft Visual Studio Code
.vscode/

# JetBrains AppCode
*.iml
.idea/

# External dependencies
vendors/

# CMake output directories
build/
cmake-build-debug/
cmake-build-release/
